__pycache__/
*.pyc
*.pyo
*.pyd

_tmp/
ecourt_output_json/
ecourt_output_pdf/
ecourt_output_logs/
ecourt_output_html/

training_set/
*.onnx
*.zip

.env
.env.*

*.log
*.db

Webshare*.txt
live_test*.json
